# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Optional npm cache directory
.npm/

# Output of `npm pack`
*.tgz

# Debug output
debug.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Swagger editor artifacts (optional)
swagger-editor/
